NODE_ENV = development
MAINTENANCE_MODE=false
PORT = 3000
DB_URI = 
//for jwt
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_USERNAME=
ADMIN_EMAIL = 
ADMIN_PASS = 
PROJECT_MANAGER_USERNAME=
PROJECT_MANAGER_EMAIL = 
PROJECT_MANAGER_PASS = 

//for google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FRONTEND_URL=http://localhost:5173

// for google drive api
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_ROOT_FOLDER_ID=
